.card {
    background: #fff;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    position: relative;
    margin-bottom: 5%;
    margin-top: 5%;
}

.dots{
    height: 4px;
  width: 4px;
  margin-bottom: 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.badge{

        padding: 7px;
        padding-right: 9px;
    padding-left: 16px;
    box-shadow: 5px 6px 6px 2px #e9ecef;
}

.user-img{

    margin-top: 4px;
}

.check-icon{

    font-size: 17px;
    color: #c3bfbf;
    top: 1px;
    position: relative;
    margin-left: 3px;
}

.form-check-input{
    margin-top: 6px;
    margin-left: -24px !important;
    cursor: pointer;
}


.form-check-input:focus{
    box-shadow: none;
}


.icons i{

    margin-left: 8px;
}
.reply{

    margin-left: 12px;
}

.reply small{

    color: #b7b4b4;

}


.reply small:hover{

    color: green;
    cursor: pointer;

}

.list-comment{
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

#comment-container{
    width: 90%;
}

.card{
    margin: 25px;
}

@media screen and (max-height: 1150px) {
    .list-comment{
        height: 450px;
    }
}

/* Aggiungi questi stili nel tuo file CSS o nell'elemento <style> nel tuo HTML */

.load-more-container {
    margin-top: 10px; /* Spazio superiore per separare dai commenti */
}


